.works {
    list-style: none;
    font-size: 2rem;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;  */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 140rem;
    margin: auto;
}

.works li {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .works > li {
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .works  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

