.wrapper {
    position: relative;
    background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.98));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
