.code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-grey-300);
    color: var(--color-white);
    border-radius: 6px;
    font-family: inherit;
}

.divider {
    margin-bottom: 1rem;
}

.markdownImageWrapper {
    width: 60rem;
    height: 30rem;
    display: block;
}

.blockquote {
    background-color: rgba(8, 8, 8, 0.75);
    padding: 1rem;
    margin: 0.5rem 0;
    border-left: 0.5rem solid var(--color-grey-700);
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .markdownImageWrapper {
        width: 100%;
        height: auto;
    }
}
